body {
    background-color: #f5f5f5;
}

table {
    background-color: white;
}

h1 {
    font-weight: bold;
}

th {
    cursor: pointer;
}

.event-row {
    transition: 0.2s ease;
}

.event-row:hover {
    transform: scale(1.005);
}

.event-name {
    max-width: 250px;
    width: 250px;
    white-space: nowrap !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixed-table {
    table-layout: fixed;
    width: 100%;
}